body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

#sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    min-height: 100%;
    /* height: 90%;
    min-height: 80%; */
    overflow-y: auto;
    padding-right: 10px;
}

#sidebar::-webkit-scrollbar {
    width: 5px;

}

#sidebar::-webkit-scrollbar-thumb {
    background: #939292;
  
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#sidebar h2 {
    color: #d4af37;
    margin-top: 0;
}

#sidebar hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #d4af37;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 15px 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#sidebar ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu.show {
    display: block;
}

.submenu-toggle {
    cursor: pointer;
    font-weight: bold;
}

.container-fluid{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    
}

.page-nav-tabs ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-transform: uppercase;
    list-style: none;
}
.page-nav-tabs ul li {
    margin: 5px 20px;
}
.page-nav-tabs ul li, .page-nav-tabs ul li a {
    height: 40px;
    line-height: 40px;
}
.page-nav-tabs ul li a {
    color: var(--accent-color);
    font-size: 17px;
    min-width: 200px;
    width: auto;
    display: block;
    text-align: center;
    user-select: none;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid transparent;
}
.page-nav-tabs ul li, .page-nav-tabs ul li a {
    height: 40px;
    line-height: 40px;
}
#content {
    margin-left: 270px;
    padding: 20px;
    flex: 1;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d4af37;
    color: #1c1c1c;

}

#header div {
    display: flex;
    align-items: center;
}

#header form {
    margin: 0;
}

#header button {
    padding: 10px;
    background-color: #a12b29;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#header button:hover {
    background-color: #8c1e1c;
}

#welcome-section {
    padding: 20px;
}

#welcome-section h2 {
    color: #d4af37;
    margin-bottom: 10px;
}

#welcome-section p {
    font-size: 18px;
    margin-bottom: 20px;
}


.option-box {
    background-color: #ffffff;
    border: 1px solid #d4af37;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    flex: 1 1 calc(20% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.option-box a {
    text-decoration: none;
}

.option-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.option-box h4 {
    color: #d4af37;
    margin-bottom: 10px;
}

.option-box p {
    color: #1c1c1c;
}

.option-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option-container p {
    font-size: 12px !important;
}

.section-list-products{
    margin-bottom: 10px;
}

.register-section,
.product-section,
.login-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.create-section.product-section{
    margin-left: 270px;
    padding: 20px;
}
.list-section {

    margin: 10px;
    padding: 10px;
}

.register-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    color: #d4af37;
}

.register-form-wrapper {
    width: 100%;
}

.register-form-group {
    margin-bottom: 15px;
}

.product-button,
.register-button {
    width: 100%;
    padding: 10px;
    background-color: #d4af37;
    border: none;
    font-weight: bold;
    color: #1c1c1c;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

.container-form {
    margin: 10px;
    display: flex;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 70vh;
}

.container-img {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    max-width: 100%;
    height: auto;
}

.container-group-form {
    width: 50%;
    padding: 40px;
    color: #d4af37;
    align-content: center;
    margin-left: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #d4af37;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #d4af37;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d4af37;
    border: none;
    color: #1c1c1c;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b89529;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #270101;
}

.table-container {
    max-height: 1000px;
    overflow-y: auto;
    border: 1px solid #d4af37;
    border-radius: 5px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #d4af37;
}

th {
    background-color: #720017;
    color: #ffffff;
    text-transform: uppercase;
}


.btn-primary {
    background-color: #d4af37;
    color: #1c1c1c;
}

.btn-primary:hover {
    background-color: #b89529;
}

.btn-danger {
    background-color: #a12b29;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #8c1e1c;
}

.tb-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tb-header h2 {
    color: #d4af37;
}




.product-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #ffffff;
    color: #d4af37;
    border-radius: 10px;
}

.product-form-wrapper {
    width: 100%;
}


.product-form-group {
    margin-bottom: 15px;
}

textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

footer {
    background: #a27606;
    width: 100%;
    color: #000000;
    position: relative;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
}

.footer-bottom p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    word-spacing: 2px;
    color: #ffffff;
}

.footer-bottom p a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom .footer-menu {
    margin-top: 10px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
    list-style: none;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}